* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.box {
	width: 1300px;
	margin: auto;
}

header {
	width: 1300px;
	height: 60px;
	margin: auto;
	position: relative;
}

.logo {
	height: 60px;
	line-height: 60px;
	position: absolute;
	left: 200px;
}

.logo>img {
	height: 50px;
}

.top {
	height: 60px;
	line-height: 60px;
	position: absolute;
	left: 400px;
}

.top>ul {
	display: flex;
}

.top>ul>li {
	margin-left: 50px;
}

.right {
	height: 20px;
	position: absolute;
	top: 20px;
	right: 300px;
}

.right-2 {
	width: 60px;
	height: 30px;
	border: 1px solid #FF0000;
	color: #FF0000;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	position: absolute;
	right: 200px;
	top: 15px;
}

.right-2>a {
	color: #FF0000;
}
section {
	width: 1300px;
	height: 2000px;
	margin: auto;
	position: relative;
}
.body-one{
width: 300px;
height: 400px;
background: #F3F3F3;
border-radius: 5px;
position: absolute;
top: 50px;
left: 200px;
}
.body-one>p{
	margin-left: 30px;
	margin-top: 3px;
	color: #C1C1C1;
}
.body-two{
width: 600px;
height: 1998px;
background: #F3F3F3;
border-radius: 5px;
position: absolute;
top: 50px;
left: 520px;
}
.body-two>p{
	margin-left: 30px;
	margin-top: 3px;
	color: #C1C1C1;
}
footer {
	width: 1300px;
	height: 350px;
	position: relative;
	background: #505050;
}

.foot{
	position: absolute;
	top: 50px;
	left: 100px;
}
.foot-tow{
	position: absolute;
	top: 50px;
	left: 300px;
}
.foot-tow>p{
	color: #9C9994;
}
.foot-tow>p:nth-child(4){
	margin-top: 20px;
}

.foot-three{
	position: absolute;
	top: 50px;
	left: 500px;
}
.foot-three>p{
	color: #9C9994;
}
.foot-three>p:nth-child(2){
	margin-top: 20px;
}
.foot-four{
	position: absolute;
	top: 50px;
	left: 640px;
	
}
.foot-four>p:nth-child(2){
	margin-top: 20px;
}
.foot-four>p>span{
	color:#9C9994;
	margin-left: 20px;
}
.foot-wu{
	position: absolute;
	top: 50px;
	left: 830px;
	color:#9C9994;
}
.foot-wu>p:nth-child(2){
	margin-top: 20px;
}
.foot-six{
	position: absolute;
	top: 50px;
	left: 1020px;
	color:#9C9994;
}
.foot-six>p:nth-child(2){
	margin-top: 20px;
}
.banquan{
	position: absolute;
	bottom: 10px;
	left: 600px;
	color:#9C9994;
}
